.boton_diseño {
    font-family: "Open Sans", sans-serif;
    width:600px;
    padding:10px;
    background-color: hsla(119, 52%, 75%, 0.5);
    border: 0;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
  }
.boton_busqueda{
  font-family: "Open Sans", sans-serif;
  width:600px;
  padding:10px;
  border: 0;
  background-color: hsla(119, 52%, 75%, 0.5);
}
